* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1E2E;
    color: white;
}

h1 {
    position: absolute;
    top: 0;
    margin-top: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 30vw;
    /* background-color: red; */
}

input[type='text'], input[type='password'] {
    width: 100%;
    background-color: #1E1E2E;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 5px;
    padding-left: 25px;
    color: white;
}

input[type='submit'] {
    background-color: #D90368;
    width: 35%;
    border: none;
    outline: none;
    border-radius: 2000px;
    padding: 5px 30px;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #9E0D0D;
    font-weight: bolder;
}