* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E2E;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: red;
}